*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 50vw;
    background-color: #191c32;
    color: #fff;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    margin: auto;
    
}


.menu li{
 list-style: none ;
}

.brand span{
    color: aqua;
}
.brand {
    margin-top: -8pxs ;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 20px;
}

.menu .active {
    color: aqua;
}

.menu a:hover{
    background-color: aqua;
    color: #191c32;
    transition: ease-in .4s;
}

.main {
    margin: 0 auto;
    width: 85vw;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1 {
    font-size: 3em;
}

span{
    color: aqua;
}

.download-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 69);
}

.download-cv:hover {
   background-color: #fff;
   box-shadow: none; 
}

.main img{
    width: 350px;
    border: 7px solid aqua;
    height: 520px;
    margin-left: 200px;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    align-items: center;
}
.about img {
    width: 600px;
    grid-column: 1/5;
}

.about-info{
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2{
    font-size: 2em;
    color: #191c32;
}

.divider{
    height: 5px;
    width: 100px;
    border-radius: 20px;
    background-color: aqua;
    margin-top: 2px;
    margin-bottom: 1em;
}

.about p {
    margin-bottom: 1em;
}